body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 500px; /* Made the container narrower */
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #00796b;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

li {
    background-color: #004d40;
    color: #ffffff;
    padding: 15px;
    margin: 5px 0; /* Reduced margin to make it more compact */
    text-align:left;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
}

li:hover {
    background-color: #00796b;
    transform: scale(1.05);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

button {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
}

button:hover {  
    background-color: #da0808;
    transform: scale(1.1);
}

audio {
    outline: none;
}
.navbar {
    position: relative;
}

.navbar .logo {
    position: absolute;
    top: 1px; /* Adjust as necessary */
    right: 1px; /* Adjust as necessary */
}
.marquee-container {
    margin-top: 20px;
}

#trackMarquee {
    font-size: 18px;
    color: #00796b;
}
.marquee-container {
    margin-top: 20px;
}

#trackMarquee {
    font-size: 18px;
    color: #00796b;
}
